

<style type="text/css">
  
  .panel > .panel-heading
  {
      background-image: none;
      background-color: gray;
      color: white;
  }

</style>

<div class="col-md-1"></div>
<div class="col-md-10">
        
    <br/><br/>
            

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Create Testimony</h3>
    </div>
    <div class="panel-body clearfix">
        <%= link_to '<<Back to Listing', testimonies_path %>
        <br/><br/>

        <%= form_for(@testimony) do |f| %>


          <div class="col-md-10">  
          
              <div class="form-group">
                <%= f.label :name, class: "control-label" %><br>
                <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
              </div>  
          
              <div class="form-group">
                <%= f.label :rating, class: "control-label" %><br>
                <%= f.select :rating, [5, 4,3,2,1], class: 'form-control', placeholder: "Rating" %>
              </div>
              
              <div class="form-group">
                <%= f.label :text, class: "control-label" %><br>
                <%= f.text_area :text, size: "40x10", class: "form-control", placeholder: "Text" %>
              </div>
          
              <%= f.submit class: "btn btn-success" %>
          </div>
        
        <% end %>
    </div>

  </div>
</div>

<div class="col-md-1"></div>

<%= render 'form' %>


