<!doctype html>
<html lang="en">
<head>
   <%= render 'shared/accordion_function' %>

<script>
  $( function() {
    $('#customerfaq').on('keydown', function(e){
      var that = $(this);
      if (that.scrollTop()) {
          $(this).width(function(i,h){
            return h + 20;
          });
      }
    });
  });
</script>
</head>

<body>
<%@increment=0%>
<h1>Customer FaQ</h1>


<div class="col-md-12">
  <div id="main_accordion">
    <%@faqmainlist.each do |mains|%>
    <%@increment+=1%>
      <h3><%=mains.FaqMainName%></h3>
        <div>
          <div id="sub_accordion<%=@increment%>">
              <%@faqsublist.where(:FaqMainLstId => mains.id).each do |subs|%>
                <h4><%=subs.SubFaqQuestion%></h4>
                  <div><p style="white-space: pre-line;"><%=subs.SubFaqAnswer%></p></div>
              <%end%>
          </div>
        </div>
    <%end%>
  </div>
</div>
 
 
</body>
</html>