
<%= render 'shared/manager_selection' %>

<div id="request-management">
<div id="pickup-available">
  <h3 id="header">Pending Request</h3>
  
  <%if @pending_pickup.count ==0%>
    </br></br>
    <h4 style="color:#D3D3D3; margin-left:25%;">No Available Pickup Request</h4>
    </br></br>
  <%else%>
    <%@pending_pickup.each do |pr|%>
      <div id="container">
        <div id ="inner-container">
          </br>
          <%= form_tag("/assignjob", method: "post") do %>
            <%=label_tag(:name,"Request Name : " + pr.name)%>
            </br>
            <%=label_tag(:pickup_time,"Pickup Time : " + pr.pickup_time.to_s)%>
             </br>         
            <%@getrid= pr.id%>
            <%= hidden_field_tag :rid, @getrid %>
            <%=hidden_field(:get, :dunno, :value => "try")%>
            </br>
            <%=label_tag(:Employee,"Pickup Employee :")%>
            <%= collection_select(:pickupemployeeid, :eid,@employees_available, :id, :name,
                {:include_blank => false })%>
            <%=label_tag(:Employee,"Delivery Employee :")%>
            <%= collection_select(:deliveryemployeeid, :deid,@employees_available, :id, :name,
                {:include_blank => false })%>
            </br></br>
            <%= submit_tag("Confirm")%>
            </br></br>
          <%end%>
        </div>
      </div>
      </br></br>
    <%end%>
  <%end%>
</div>
        
<div id="employee-pickup">
  <h3 id="header">Employee Working Status</h3>
  
  <%@employees_available.each do |s|%>
    <div id="container">
      <h4>Name : <%=s.name%></h4>
        
      <p>Employee id : <%=s.id%></p>
      <h5><strong>Responsible Pickup</strong></h5>
        <% @allpickup.each do |p|%>
           <% if p.pickupscondition !="Accepted" or p.pickupscondition !="Completed"  and p.employeeid == s.id%>
              <p>
                Name: <%=p.name%> &nbsp;&nbsp;&nbsp;Pickup Time: <%=p.pickup_time%>
                &nbsp;&nbsp;&nbsp; 
                Pickup Location: <%=p.package_location%>
                &nbsp;&nbsp;&nbsp; 
                Pickup Condition: <%=p.pickupscondition%>
              </p>
           <%end%>
        <%end%>
        </br>
        <h5><strong>Responsible Delivery</strong></h5>
        <% @allpickup.each do |p|%>
          <% if p.deliveryemployee_id == s.id and p.pickupscondition != "Request Completed"%>
              <p>
                Name: <%=p.name%> 
                &nbsp;&nbsp;&nbsp;
                Pickup Time: <%=p.pickup_time%>
                &nbsp;&nbsp;&nbsp; 
                Pickup Location: <%=p.package_location%>
                &nbsp;&nbsp;&nbsp; 
                Delivery Condition: <%=p.pickupscondition%>
              </p>
          <%end%>
        <%end%>
        </br>
      </div>  
      </br></br>
  <%end%>
       