<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <b>Profile Image</b>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">CHANGE</a>
      <br><br><br><br><br>
    </div>
    <div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, :value => @user.name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, :value => @user.email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% if @user.identity == "individual" || @user.identity == "business" %>
        <% if @user.identity == "business" %>
          <%= f.label :company %>
          <%= f.text_field :company, class: 'form-control' %>
        <% end %>
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
        
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      <% end %>
      <br><br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>