<!DOCTYPE html>
<html>  
  
  
  <div id="portal-identity">
    <%= gravatar_for @user %><br>
    Name: <%= @user.name %><br>
    Email: <%= @user.email%><br>
    <% if @user.identity == "manager" || @user.identity == "driver" %> 
      Position: <%= @user.identity%><br>
    <% elsif @user.identity == "customer" %>
      You are our respectful customer!
    <% end %>
    </br></br>
  </div>
  
      <% if @user.identity == "manager" %>
          <%= render 'portal_manager' %>
      <% elsif @user.identity == "driver" or @user.identity == "Absence" %>
          <%= render 'portal_driver' %>
      <% elsif @user.identity == "customer" %> 
        <%= link_to 'New Pickup', new_pickup_path(customer: @user)%><br><br>
        
        <h3>PickupHistory</h3>
        <% @customerpickup.each do |p|%>
          <strong>Pickup Package :</strong><%=p.name%> </br></br>
          <strong>Time</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Condition</strong></br>
          <% @customerpickuphistory.each do |ph|%>
            <%if ph.pickupid == p.id%>
              <%=ph.updated_at%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=ph.condition%></br>
            <%end%>
          <%end%>
        <%end%>
      <% end %>
    </section>
    <!--/aside-->
  </div>
</div>

 

</section>
  
</html>