<!doctype html>
<html>
<head>
   <%= render 'shared/accordion_function' %>
  <!--<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
   -->
</head>

<body>
  <header>
    <h1>Faq Management</h1>
  </header>
  <div class="managerfaq_container">
      <section class="faq_section">
        <label>Question Title:</label><br>
        <p><%=@sublist.SubFaqQuestion %><p><br>
        <label>Question Answer:</label><br><br>
        <textarea id="textarea" readonly><%=@sublist.SubFaqAnswer%></textarea>
        
        <%= link_to "Edit", edit_fa_q_sub_list_path(@sublist), :id => "manager-faq-edit-btn",class: "btn"%>
        <%= button_to 'Delete', fa_q_sub_list_path(@sublist),
              method: :delete,
              :id => "manager-faq-delete-btn",
              class: "btn btn-primary",
              data: { confirm: "Are you sure you want to delete selected FaQ?"  } %>
        
       
      </section>
      <!----Navigation Bar---------------------------------->
     <nav class="faq_nav">
     <%=render 'shared/manager_accordion'%>
     </nav>
  <!----Data---------------------------------->
   </div>
   
    
</body>
 
</html>

