<div class="padding-left">  
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Request Id:</strong>
    <%= @pickup.request_id %>
  </p>
  </br>
  <h3>Shipment Info</h3>
  <p>
    <strong>Pickup Customer id:</strong>
    <%= @pickup.customer_id %>
  </p>
  
  <p>
    <strong>Shipment amount:</strong>
    <%= @pickup.shipment_amount %>
  </p>
  
  <p>
    <strong>Weight:</strong>
    <%= @pickup.weight %>
  </p>
  <p>
    <strong>Shipment Cost:</strong>
    <%= @pickup.totle_cost %>
  </p>
  
  
  </br>
  <h3>Pickup Info</h3>
  <p>
    <strong>Pickup location:</strong>
    <%= @pickup.package_location %>
  </p>
  
  <p>
    <strong>Pickup type:</strong>
    <%= @pickup.location_type %>
  </p>
  
  <p>
    <strong>Delivery type:</strong>
    <%= @pickup.delivery_type %>
  </p>
  
  <p>
    <strong>Pickup date:</strong>
    <%= @pickup.pickup_date %>
  </p>
  
  <p>
    <strong>Pickup time:</strong>
    <%= @pickup.pickup_time %>
  </p>
  
  </br>
  
  <h3>Receiver Info</h3>
  <p>
    <strong>Receiver Name:</strong>
    <%= @pickup.name %>
  </p>
  <p>
    <strong>Receiver Phone No:</strong>
    <%= @pickup.number %>
  </p>
  <p>
    <strong>Delivery Type:</strong>
    <%= @pickup.delivery_type %>
  </p>
  <p>
    <strong>Receiver Company:</strong>
    <%= @pickup.company %>
  </p>
  
  <p>
    <strong>Receiver Address:</strong>
    <%= @pickup.address %>
  </p>
  
  <p>
    <strong>Receiver City:</strong>
    <%= @pickup.city %>
  </p>
  
  <p>
    <strong>Receiver State:</strong>
    <%= @pickup.state %>
  </p>
  
  <p>
    <strong>Receiver Zip:</strong>
    <%= @pickup.zip %>
  </p>
  
  <p>
    <strong>Receiver Country:</strong>
    <%= @pickup.country %>
  </p>
  
  
  
  
  
  
  
  </br>
  <h3>Others</h3>
  <p>
    <strong>Instructions:</strong>
    <%= @pickup.instructions %>
  </p>
  
  
  
  <p>
    <strong>Pickup Condition:</strong>
    <%= @pickup.pickupscondition %>
  </p>
  
  
  
  
  
  
  
  
  
  <%= link_to 'Edit', edit_pickup_path(@pickup) %> |
  <%= link_to 'Back', current_user %>
</div>
